body {
    padding: 50px;
}

.fruit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 20px;
    margin-bottom: 10px;
}

.fruitButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emoji{
    margin-left: 10px;
}

.reset-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
button {
    width: 100%;
}
